#admin-side-menu{
    position: fixed;
    top: 4rem;
    left: -200px;
    bottom: 0;
    widows: 200px;
    background-color: white;
    overflow-y: scroll;
    transition: left 0.3s ease-in-out;

    &.is-active{
        transition: left 0.3s ease-in-out;
        left: 0;
    }
    @include desktop{
        left: 0;
    }
}
#admin-slidout-button{
    transition: 0.3s;
    &.is-active{
        transition: 0.3s;
        transform: rotateY(180deg);
    }
}
.management-area{
    position: absolute;
    top: 4rem;
    left: 200px;
    right: 0;
}
.flex-container{
    margin: 10px 25px;
}
hr{
    background-color: #4FC3A1;
}

.submenu{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.menu-list li ul{
    margin-top: 0;
    margin-bottom: 0;
}
.menu-list a.is-active{
    background-color: #4FC3A1;
}
.navbar-burger{
    border: none;
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(70, 70, 70, 0.2);
}

.fl-table {
    border-radius: 5px;
   
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;

}

.fl-table thead td {
    color: #ffffff;
    background: #4FC3A1;
    height: 40px;
    font-size: larger;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        text-overflow: ellipsis;
    }
    .fl-table thead td {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody tr td {
        display: block;
        text-align: center;
    }
}
/////////////// Pagination /////////////////////////

