/*==========================================
  ============ Text Overrides ==============
  ==========================================*/
.is-muted{
    color: $grey-light !important;
}
a.is-muted:hover{
    color: $grey !important;
}

.navbar-item img{
    max-height: 3rem;
}

.menu-list:hover{
    color: rgb(4, 223, 168);
}

.navbar-link:not(.is-arrowless)::after {
    color: rgb(4, 223, 168);
    border-color: rgb(4, 223, 168);
}
.navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    border-bottom-color: rgb(4, 223, 168);
    color: rgb(9, 197, 150);
}
.navbar-link:hover{
    color: rgb(4, 223, 168);
}

.navbar-burger{
    border: none;
    display: inherit;
}