/*==========================================
  ============ Text Overrides ==============
  ==========================================*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.subtitle{
    color: blue;
}
.is-muted{
    color: $grey-light !important;
}
a.is-muted:hover{
    color: $grey !important;
}

.navbar-item img{
    max-height: 3rem;
}

.menu-list:hover{
    color: rgb(4, 223, 168);
}

.navbar-link:not(.is-arrowless)::after {
    color: rgb(4, 223, 168);
    border-color: rgb(4, 223, 168);
}
.navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    border-bottom-color: rgb(4, 223, 168);
    color: rgb(9, 197, 150);
}
.navbar-link:hover{
    color: #00b9a1;
}

.navbar-burger{
    border: none;
    display: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* image */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 400;
    color: #fff;
    background-color:  #068f7d;
    display: inline-block;
    border-radius: 5px;
    padding: 7px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00b9a1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
